/*GLOBAL*/
body{
    background-color: #767676;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 15px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 18px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 10px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    background-repeat: repeat;
}

html {
    scroll-behavior: smooth;
  }

/*HEADER*/
.header{
    background-color: #32312F;
    height: 10%;
    width: 100%;
    position: absolute;
}

.title-header img{
    height: 60px;
    position: absolute;
    left: 200px;
    top: 15px;
}

.title-header span{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 40px;
    left: 270px;
    letter-spacing: 0.15em;
}

/*FIM HEADER*/

/*SCROLL SMOOTH*/
#section1 {
    height: 937px;
    /* background-color: pink; */
    display: flex;
  }
  
#section2 {
    height: 937px;
    /* background-color: yellow; */
    display: flex;
}

.sec1 img{
    height: 50px;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.sec2 img{
    height: 50px;
    display: block;
    position: absolute;
}

.jello-horizontal {
	-webkit-animation: jello-horizontal 1.8s infinite both;
	        animation: jello-horizontal 1.8s infinite both;
}

@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  